body {
    background-image: url(https://i.pinimg.com/736x/7c/18/2c/7c182cb1040b7c8a99d1107341da6975.jpg);
}

.ojos {
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 38rem;
    width: 25rem;
    text-align: center;
    color: white;
}

 .oo {
    border: 3px solid white;

    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(217, 217, 226);
}

button {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 2.3rem;
    width: 4rem;
    height: 3rem;
    background-color: black;
    color: wheat;
}

button:hover {
    transition: 2s;
    background-color: rgb(208, 192, 233);
    color: black;
    border-radius: 10px;
}

.aa {
    border: 3px solid white;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(166, 161, 170);
}


.uu {
    border: 3px solid white;

    grid-column: 2/3;
    grid-row: 3/4;
    background-color: rgb(99, 91, 91);
}

.ee {
    grid-column: 1/4;
    grid-row: 4/4;

}

.ee img {
    grid-column: 1/4;
    grid-row: 4/4;
    height: 100%;
    width: 100%;
}